

.input {
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(198, 198, 198);
    padding: 11px 30px 11px 11px;
    border-radius: 20px;
    cursor: pointer;  
    background: #efebeb;
    box-shadow: inset 6px 6px 12px #e1dddd,
                inset -6px -6px 12px #fdf9f9; 
  }