
.App {
  height: 100vh;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(42deg, rgba(126,123,16,0.6730042358740371) 0%, rgba(125, 77, 120, 0.729) 35%, rgba(99,202,223,0.7458333675266982) 100%);
}

.contenedor-calculadora {
  width: 400px;
  padding: 37px;
  border-radius: 20px;
  background: linear-gradient(145deg, #fffbfb, #d7d4d4);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
